upstream {{ upstream_name }} {
{% for upstream in upstream_srv %}
    server {{ upstream }};
{% endfor %}
   }

server {
	listen {{ nginx_listen }} default_server;
	root /var/www/html;

	# Add index.php to the list if you are using PHP
	index index.html index.htm index.nginx-debian.html;

	server_name {{ nginx_server_name }};

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		proxy_set_header X-Real-IP  $remote_addr;
	    proxy_set_header Host $http_host;
	    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://{{ upstream_name }}/;
		#Try this settings
		#proxy_redirect off;
	}

}
